<% if @article.errors.any? %>
  <h3 style="color:red;">The following errors prevented the article form being saved</h3>
  <ul>
    <% @article.errors.full_messages.each do |msg|%>
    <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>