<div class="container">
  <div style="background-color:rgba(0, 0, 0, 0); color: aliceblue;" class="jumbotron">          
    <h1 class="head_name">Alpha-Blog</h>
    <p class="lead">Welcome to Alpha-Blog, Where you connect to the world.</p>
    <button type="button" class="btn btn-outline-success">Log in</button>
    <button type="button" class="btn btn-outline-success">New here? Sign up</button>
  </div>
</div>
<%= link_to 'Articles list', articles_path %> | 
<%= link_to 'About us', about_path %>