<div class="container">
  <div class="jumbotron" id="home-jumbotron">          
    <h1 class="head-name">Alpha-Blog</h>
    <p class="lead">Welcome to Alpha-Blog, Where you connect to the world.</p>
    <button type="button" class="btn btn-outline-success">Log in</button>
    <button type="button" class="btn btn-outline-success">New here? Sign up</button>
  </div>
</div>