// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'bootstrap/dist/css/bootstrap';
body {
  background-image: asset-url('background.jpeg');
  background-repeat: no-repeat;
  background-size: cover ;
  background-attachment: fixed;
}

.navbar {
  background-color: #120033 !important;
}

#logo{
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

#title{
  font-family: Lucida Console;
}

#description{
  font-family: monaco;
}

.center {
  margin: auto;
  width: 95%;
  padding: 10px;
}

.head-name{
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  text-align: center;
  font-size: 60px
}

.page-name{
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  text-align: center;
  font-size: 40px;
  color: white
}
#home-jumbotron{
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

/* Sticky Footer Classes */

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

