<div class="container center"> 
  <% @categories.each do |category| %>
    
        <div class="card text-center shadow p-0 mb-4 bg-white rounded col-3 d-inline-block">
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to category.name, category_path(category), class: "text-info" %>
            </h5>
            <p class="card-text"><%= pluralize(category.articles.count, "article") %></p>
          </div>
          
        </div>
     

  <% end %>
</div>