<h1 class="page-name mt-4">Edit category</h1>

<%= render 'form' %>

<div class="text-center">
  <%= link_to 'Cancel and Return to the category page', category_path(@category), class: "btn btn-light shadow rounded mb-3" %>
</div>