<h1 class="page-name mt-4">Categories</h1>

<div class="flickr_pagination">
  <%= will_paginate @categories, :container => false %>
</div>

<%= render 'categories' %>
<% if logged_in? && current_user.admin? %>
  <div class="mb-4 text-center" >
    <%= link_to "Add a new category", new_category_path, class: "btn btn-outline-success" %>
  </div>
<% end %>

<div class="flickr_pagination">
  <%= will_paginate @categories, :container => false %>
</div>

