<h1 class="page-name mt-4">Add a new category</h1>

<%= render 'form' %>

<div class="text-center">
  <%= link_to 'Cancel and Return to the categories page', categories_path, class: "btn btn-light shadow rounded mb-3" %>
</div>