<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
  <div class="container text-center text-white">
    <small>Copyright &copy; Ahmed Al-Shaiba</small>  <a id="socials" href="https://www.instagram.com/sk.7.6/" style="font-size: 20px" class="fa fa-instagram ml-2"></a>  <a id="socials" href="https://twitter.com/AhmedAlShaiba4" style="font-size: 20px" class="fa fa-twitter ml-2"></a>
  </div>
</footer>